* {
    margin: 0;
    /* Margins are used to create space around elements, outside of any defined borders. */
    padding: 0;
    /* Padding is used to create space around an element's content, inside of any defined borders. */
    box-sizing: border-box;
    /* The box-sizing CSS property sets how the total width and height of an element is calculated. */
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1100px;
    /* The max-width CSS property sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width .*/
    margin: 0 auto;
    padding: 0 2%;
    display: flex;

    /* The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked. */
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

header:hover {
    background-color: black;
    color: white;
    padding: 20px 0;
    border-bottom: 3px solid purple;
    transition-duration: 2s;
}

/*

The border-bottom property is a shorthand property for (in the following order):

border-bottom-width
border-bottom-style
border-bottom-color

If border-bottom-color is omitted, the color applied will be the color of the text. 

*/

.logo {
    color: #16507b;
    width: 100%;
}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
    width: 100%;
}

.logo h2:hover {
    color: white;
    font-weight: normal;
    font-size: 22px;
    transition-duration: 1.5s;
}

/* when its a class, starts with .  when id =  # */
.menu {
    text-align: right;
    width: 100%;
}


.menu a {
    color: #16507b;
    justify-content: space-around;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
}

.menu a:hover {
    /* when the mouse pass by the surface*/
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.menu .button-menu:hover {
    color: white;
    background-color: #124265;
    font-size: 16px;
}

.menu .button-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 12px;
    /* decrease the background width */
    color: white;
    border-radius: 6px;
    /* border curve */
}


section.main {
    background-image: url('images/back2.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* parallax effect */
}

.center2 {
    max-width: 1100px;
    /* The max-width CSS property sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width .*/
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    /* apply for flex containers */
}

.main_cta {
    width: 100%;
    margin: 40px 0;
    margin-top: 0;
    text-align: center;
}



.main_cta h2 {
    color: white;
    font-size: 40px;
    width: 100%;
    animation: float 3s ease-in-out infinite;

}

.main_cta p {
    color: gray;
    font-size: 19px;
    margin: 10px 0;

}

.main_cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    /* decrease the background width */
    color: white;
    border-radius: 6px;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}

.main_cta button:hover {
    background-color: #124265;
    color: white;
    transition-duration: 1s;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single {
    background-color: white;
    width: 22%;
    margin-right: 3%;
    margin-top: 10%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i {
    color: #124265;
    font-size: 23px;
}

.diferencial-single i:hover {
    color: red;
    font-size: 24px;
    transition-duration: 2s;
}

.diferencial-single h2 {
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single h2:hover {
    color: red;
    margin: 10px 0;
    font-size: 18px;
    transition-duration: 1s;
}

.diferencial-single p {
    font-size: 14px;
    color: gray;
    line-height: 30px;
    border-radius: 10px;
}

.diferencial-single:hover {
    background-color: black;
    color: white;
    transition-duration: 2s;
    font-size: 22px;
    cursor: pointer;
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-20px)
    }
}


section.sobre {
    padding: 80px 0;
}

.center3 {
    max-width: 1100px;
    /* The max-width CSS property sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width .*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bolder;
}

.chamada-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;


}

.conteudo-sobre {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}


.conteudo-sobre p {
    width: 48%;
    margin-right: 2%;
    color: #444444;
}

.conteudo-sobre span {
    display: inline-block;
    width: 100%;
    margin-top: 0px;

}

.conteudo-sobre i {
    color: #007bff;


}

@media screen and (max-width:768px) {
    .diferencial-single {
        width: 100%;
        margin-bottom: 20px;
    }

    .conteudo-sobre p {
        width: 100%;
        margin: 20px 20px;
    }
}